HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

src/main/resources/static
*.log
*.gz

docker-compose.agendo.yml
docker-compose.crg.yml
src/main/resources/application.yml
src/main/resources/application.agendo.yml
mysql/
mysql.agendo/
tmp/
sql/agendo.sql

